<section class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="top">
          <h2>The Story</h2>
          <br>
          <p>With more than three decades of the SwimShow expertise, The Swimwear Association of Florida is recognized as the leader in swimwear exhibitions worldwide. As the industry’s most celebrated and established exhibition, the SwimShow is the premier global tradeshow where the best of the best gather to network, exhibit and purchase next year’s trends.</p>
          <p>Held every July, the SwimShow is the largest of its kind in the world and attracts more than 7,500 brands and buyers from 60 countries across the world. This year’s show offers more women’s swimwear than ever, including expanded men’s and children’s swimwear collections, resort & lifestyle and accessories for all occasions. Collections cater to designer boutiques, resort shops, specialty stores, surf shops, department stores, mass merchants and more.</p>
        </div>
      </div>
    </div>
    <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div>
  </div>
</section>

<section class="about-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/about-swim.jpg', class: 'img-responsive' %>
        </div>
        <div class="col-sm-6">
          <h2>Splashy Start</h2>
          <br>
          <p>In 1982, a small group of sales representatives decided to organize a special event to bring together all of the central players from all aspects of the swimwear industry under one roof. They chose Miami since more than 60 percent of the industry’s business at that time was handled by sales representatives at the Miami Merchandise Mart with or without showrooms. The first show featured 15 representatives with 30 collections. Staying true to its original mission, the SwimShow isn’t one of the largest events of its kind, it is THE largest swimwear trade show in the world, featuring thousands of buyers from dozens of countries each year.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="delimiter"></div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>South Beach Sizzle</h2>
        <br>
        <p>The tradeshow is held at the Miami Beach Convention Center, in the heart of trendy South Beach. The SwimShow with the support of the Miami Beach Visitor and Convention Authority offers endless possibilities in and around South Beach with negotiated rates at local hotels, complimentary transportation and an on-site concierge. Full of activity, events and shopping and the ideal partner for the swimwear industry, South Beach is a premier resort destination ideal for swim lovers, complete with designer boutiques, world-class hotels, five-star dining, beautiful beaches, and captivating nightlife.</p>
        <p>The Convention Center is spacious and allows all exhibitors to share their latest and greatest on one floor. The easy-to-navigate show is segmented for easy shopping and access, with a concierge always available for directions and assistance.</p>
        <p>The SwimShow has always been planned and executed with the utmost needs of swimwear buyers and lovers in mind. We anticipate trends, debut new designers each year, expand special events and put on a fabulous eye-catching and inspiring show.</p>
      </div>
    </div>
  </div>
</section>
