<section class="classifieds-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-4 clearfix">
      <div class="top">
        <h1>Classifieds</h1>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="classifieds-content">
  <div class="container">
    <div class="row">
      <% @classified.each do |c| %>
        <div class="col-sm-6">
          <h1><%= c.company %></h1>
          <h4><%= c.position %></h4>
          <div class="col-sm-8 col-sm-offset-2">
            <p><%= c.short_description %></p>
          </div>
        </div>
        <% end %>
      </div><!-- end row -->
      <%= will_paginate @classified %>
  </div><!-- end container -->
</section>

<script>
(function() {
  var docElem = window.document.documentElement, didScroll, scrollPosition;

  // trick to prevent scrolling when opening/closing button
  function noScrollFn() {
    window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
  }

  function noScroll() {
    window.removeEventListener( 'scroll', scrollHandler );
    window.addEventListener( 'scroll', noScrollFn );
  }

  function scrollFn() {
    window.addEventListener( 'scroll', scrollHandler );
  }

  function canScroll() {
    window.removeEventListener( 'scroll', noScrollFn );
    scrollFn();
  }

  function scrollHandler() {
    if( !didScroll ) {
      didScroll = true;
      setTimeout( function() { scrollPage(); }, 60 );
    }
  };

  function scrollPage() {
    scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
    didScroll = false;
  };

  scrollFn();

  var el = document.querySelector( '.morph-button' );

  new UIMorphingButton(el, {
    closeEl : '.icon-close',
    onBeforeOpen : function() {
      // don't allow to scroll
      noScroll();
    },
    onAfterOpen : function() {
      // can scroll again
      canScroll();
      // add class "noscroll" to body
      classie.addClass( document.body, 'noscroll' );
      // add scroll class to main el
      classie.addClass( el, 'scroll' );
    },
    onBeforeClose : function() {
      // remove class "noscroll" to body
      classie.removeClass( document.body, 'noscroll' );
      // remove scroll class from main el
      classie.removeClass( el, 'scroll' );
      // don't allow to scroll
      noScroll();
    },
    onAfterClose : function() {
      // can scroll again
      canScroll();
    }
  } );
})();
(function() {
  var docElem = window.document.documentElement, didScroll, scrollPosition;

  // trick to prevent scrolling when opening/closing button
  function noScrollFn() {
    window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
  }

  function noScroll() {
    window.removeEventListener( 'scroll', scrollHandler );
    window.addEventListener( 'scroll', noScrollFn );
  }

  function scrollFn() {
    window.addEventListener( 'scroll', scrollHandler );
  }

  function canScroll() {
    window.removeEventListener( 'scroll', noScrollFn );
    scrollFn();
  }

  function scrollHandler() {
    if( !didScroll ) {
      didScroll = true;
      setTimeout( function() { scrollPage(); }, 60 );
    }
  };

  function scrollPage() {
    scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
    didScroll = false;
  };

  scrollFn();

  var el = document.querySelector( '.morph-button' );

  new UIMorphingButton( el, {
    closeEl : '.icon-close',
    onBeforeOpen : function() {
      // don't allow to scroll
      noScroll();
    },
    onAfterOpen : function() {
      // can scroll again
      canScroll();
      // add class "noscroll" to body
      classie.addClass( document.body, 'noscroll' );
      // add scroll class to main el
      classie.addClass( el, 'scroll' );
    },
    onBeforeClose : function() {
      // remove class "noscroll" to body
      classie.removeClass( document.body, 'noscroll' );
      // remove scroll class from main el
      classie.removeClass( el, 'scroll' );
      // don't allow to scroll
      noScroll();
    },
    onAfterClose : function() {
      // can scroll again
      canScroll();
    }
  } );
})();
(function() {
  var docElem = window.document.documentElement, didScroll, scrollPosition;

  // trick to prevent scrolling when opening/closing button
  function noScrollFn() {
    window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
  }

  function noScroll() {
    window.removeEventListener( 'scroll', scrollHandler );
    window.addEventListener( 'scroll', noScrollFn );
  }

  function scrollFn() {
    window.addEventListener( 'scroll', scrollHandler );
  }

  function canScroll() {
    window.removeEventListener( 'scroll', noScrollFn );
    scrollFn();
  }

  function scrollHandler() {
    if( !didScroll ) {
      didScroll = true;
      setTimeout( function() { scrollPage(); }, 60 );
    }
  };

  function scrollPage() {
    scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
    didScroll = false;
  };

  scrollFn();

  var el = document.querySelector( '.morph-button' );

  new UIMorphingButton( el, {
    closeEl : '.icon-close',
    onBeforeOpen : function() {
      // don't allow to scroll
      noScroll();
    },
    onAfterOpen : function() {
      // can scroll again
      canScroll();
      // add class "noscroll" to body
      classie.addClass( document.body, 'noscroll' );
      // add scroll class to main el
      classie.addClass( el, 'scroll' );
    },
    onBeforeClose : function() {
      // remove class "noscroll" to body
      classie.removeClass( document.body, 'noscroll' );
      // remove scroll class from main el
      classie.removeClass( el, 'scroll' );
      // don't allow to scroll
      noScroll();
    },
    onAfterClose : function() {
      // can scroll again
      canScroll();
    }
  } );
})();

</script>
