<section class="coming-soon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="top">
          <h1>COMING SOON</h1>
          <p>Floor Plans will be up soon.</p>
        </div>
      </div>
    </div>
  </div>
</section>
