<section class="lines-head" role="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="top">
          <h1>2015 Line List</h1>
        </div>
      </div>
    </div>
  </div>	<!-- end container -->
</section>

<section class="lines-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <span class="letter">A</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

          <div class="col-xs-6 col-sm-2">
            <p>A Shore Fit!<br>A. Che<br>Ada Collection<br>Adidas<br>Adriana Gaviria<br>Aerin Rose<br>Agua Bendita</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <p>Agua de Coco<br>Aguaclara<br>Aguaclara Girls<br>Aish<br>Ale & Thai<br>Ale by Alessandra<br>Aliana</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <p>AlmaMia<br>Aloe Up<br>AM:PM<br>Amenapih<br>Amir Slama<br>Amita Naithani<br>Amuse</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <p>Anatomie<br>Andrew Christian<br>Angel & Miosotti<br>Angel Beach<br>Anima Beachwear<br>Anita Care<br>Anita Comfort</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <p>Anita Maternity<br>Ank<br>Anna Kosturova<br>Anne Cole<br>Antigel<br>Antiqua<br>Aquarella</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <p>AquaVita<br>Aris A.<br>Ashiana<br>Aum-Couture<br>Avani<br>Azul<br>Azura</p>
          </div>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <span class="letter">B</span>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="col-xs-6 col-sm-2">
              <p>Babajaan<br>Babalu<br>Babiators<br>Baby Bum<br>Baby Loves Mom<br>Badgley Mischka<br>Breathe by Body Glove</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>ABanana Moon<br>Barbara Gerwit<br>Barraca Chic<br>Basmar<br>BCBGeneration<br>BCBGMAXAZRIA<br>Beach Bunny<br>Brightly Twisted</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Beach<br>Beach Diva<br>Beach Riot<br>Beach Scene<br>BeachCandy<br>Becca Etc.<br>Bel Kazan<br>Brigitte</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Belabunda<br>Bella tu<br>Bendigo<br>Beth & Tracie<br>Betsey Johnson<br>Betsy Moss<br>Big Guns<br>Buco Handbags</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Bikini Lab<br>Billabong<br>Bingo Surf<br>B-kini Milano Maritima<br>Bleu/Rod Beattie<br>Blue Chair Bay<br>Blue Island<br>BW by analili</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Blue Life<br>Blue Man<br>Body Glove<br>Boho Me<br>Bravo Bra Pads<br>Brazil Sunset<br>Breaking Waves<br>By Lilla</p>
            </div>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <span class="letter">C</span>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="col-xs-6 col-sm-2">
              <p>C9 by Champion<br>CA by Vitamin A<br>Cabana Life<br>Caffe<br>Callanan<br>Cappelli Straworld<br>Capri Girl<br>Captiva<br>Carambole</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Caribbean Joe<br>Caribbean Sand<br>Catori<br>CC SANDS by Trunks<br>Cecilia Prado Mare<br>Ceeb<br>Chach<br>Charlie Jadeb</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Charmline<br>Chica<br>Chica Rica<br>Chio<br>Chloe Rose<br>Christina<br>Christys’ of London<br>Cia Maritima<br>Cleo Lingerie</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Cleo Swimwear by Panache<br>Cimber<br>Club “Z” Covers<br>Cobian<br>Cocktail Pareos Collections<br>Cocktail Pareos Design<br>Cocktail Pareos Swim</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Cocoon House<br>Cole of California<br>Commando<br>Cool Kids<br>Coola Suncare<br>coolchange<br>Coral + Reef<br>Coral Island<br>Corpo Bonito</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Cote d’Or<br>Cover 2 Cover<br>Cover Me<br>Cover Me<br>Cristina Love<br>Cuban Rice<br>Cyn & Luca<br>Cynthia Rowley</p>
            </div>

        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <span class="letter">D</span>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="col-xs-6 col-sm-2">
              <p>D’Milikah<br>Daisy<br>Dalai Beachwear<br>Damsel<br>Daniela Corte</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Dar Be Dar<br>Dashiki<br>DC Comics<br>Debbie Katz<br>Deep Blue</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Delfina<br>Delta Burke Womens<br>Desiree Nercessian<br>Despi<br>Dfly</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Diane Raulston<br>Disney<br>Diva by Rachel Pappo<br>Divino Seas<br>Dos Beachwear</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Dotti<br>Dozer<br>Drama Queen<br>Dream Dance<br>Dries Van Noten</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Sunglasses<br>DSQUARED2<br>Dunnas</p>
            </div>

        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <span class="letter">E</span>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="col-xs-6 col-sm-2">
              <p>Eberjey<br>Echo Design<br>Eco Peace by Aqua Green<br>Eco Swim by Aqua Green</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Ecua-Andino<br>Ego Eyewear<br>Eidon<br>Elan Intl</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>elif for Jordan Taylor<br>Elizabeth Hurley Beach<br>Elizabeth Jane<br>Elomi</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Emamo<br>Emerald Bay<br>Eniqua<br>Enla</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Entreaguas<br>Erika Pena<br>Estivo<br>Ettika Jewelry</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <p>Everyday Sunday<br>Exist</p>
            </div>
          </div>

      </div>
    </div>
  
</section>
