<section class="front-header" role="banner">
  <div class="container">
    <div class="col-sm-12 col-md-12 clearfix">
      <div class="top">
        <h1 class="title">GET READY...</h1>
        <h1 class="date">JULY 18-21</h1>
        <div class="detail-button">
          <a href="#pero-loco" class="btn scrolling-btn">Learn More</a>
        </div>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="section-video" id="pero-loco">
  <div class="video-text-wrap col-sm-8 col-sm-offset-2">
    <h1 class="video-title">Days of Our SwimShow Lives</h1>
    <div class="player-icon">
      <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/play-white.svg', class: 'play' %>
    </div> <!-- end player-icon -->
    <p>Take a quick peek and reminisce on your event packed days<br>at SwimShow</p>
  </div>
  <div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=OkROKZ5N_HA',containment:'self',startAt:1,mute:false,autoPlay:false,loop:false,opacity:.5,showYTLogo:false, realfullscreen:true,optimizeDisplay:true,quality:'highres'}"></div>
</section>

<section class="home-member">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Are You In?</h2>
        <h3>MIAMI BEACH INcard</h3>
        <p>Get your Miami Beach INcard FREE TODAY at mbincard.com</p>
          <a href="http://www.miamibeachincard.com/" target="_blank" class="btn btn-member">Get Now</a>
      </div>
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/member.jpg', alt: 'INcard', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="section-counter">
  <div class="ce-countdown ce-countdown--theme-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Get Ready for July 18 - 21</h2>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-3"><span class="ce-days"></span><br><h6 class="ce-days-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-hours"></span><br><h6 class="ce-hours-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-minutes"></span><br><h6 class="ce-minutes-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-seconds"></span><br><h6 class="ce-seconds-label sub-info"></h6></div>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="top-headline">
            <h3><em>...enjoy the <strong>SWIM!</strong></em></h3>
          </div> <!-- end headline -->
        </div> <!-- end col-sm-8 -->
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.ce-countdown').countEverest({
      //Set your target date here!
      day: 18,
                month: 7,
      year: 2015,
      pluralLabels: true
    });
  });
</script>
