<section class="nightlife-head" role="banner">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-5 col-md-offset-1 clearfix">
      <div class="top">
        <h1>Miami Nightlife</h1>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>
