<section class="restaurant-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-2 clearfix">
      <div class="top">
        <h1>Restaurants</h1>
      </div>
    </div>
    <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div>
  </div>
</section>

<section class="restaurant-content" id="swim-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Design District | Midtown | Wynwood</h1>
      </div>
    </div>
    <div class="delimiter100"></div>
    <%= render "pages/restaurant" %>
  </div>
</section>



<script>
$(function(){
   $('.pagination a').attr('data-remote', 'true')
});
</script>
