<section class="restaurant-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-2 clearfix">
      <div class="top">
        <h1>Restaurants</h1>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="restaurant-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Design District | Midtown | Wynwood  </h1>
      </div>
    </div>
  </div>
</section>
