<section class="showdates-head" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-6">
          <div class="top">
            <h1>Show Dates</h1>
            <p>Save these dates for spectacular swimwear</p>
            <p class="como">July 18 - 21</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div> -->
  </div>	<!-- end container -->
</section>

<section class="dates" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <h2>SwimShow</h2>
          <h3>July 18-21, 2015</h3>
          <p>Swim, run, fly or cruise your way to the 33rd annual SwimShow, sponsored by the Swimwear Association of Florida</p>
          <p><strong>Show Hours:<br>9am to 6pm: Saturday, Sunday, Monday<br>9am to 5pm: Tuesday</strong></p>
          <p>Check out the latest collections from around the globe in swimwear, resortwear, accessories, lifestyle and active… over four days of dazzling celebrations and inspirations. Be among the first to see and share the latest in designs, trends, colors and brands!</p>
        </div>
        <div class="col-sm-6">
          <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/headers/miami-beach.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-counter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>Babes on the Beach</h2>
      </div>
    </div>
    <div class="row">
      <div class="player-icon">
        <%= link_to (image_tag'https://s3.amazonaws.com/swim-show/Website+Images/play-white.svg'), '#swimvid', class: 'play', id: 'swimvid' %>
      </div> <!-- end player-icon -->
    </div>
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="top-headline">
          <h3><em>...enjoy the <strong>SWIM!</strong></em></h3>
        </div>
      </div>
    </div> -->
    <!-- <div class="delimiter100"></div> -->
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="col-xs-6">
          <%= link_to image_tag('https://s3.amazonaws.com/swim-show/Website+Images/mvca-logo-white.svg'), 'http://www.miamibeachvca.com/', target: '_blank', class: 'img-responsive' %>
        </div>
        <div class="col-xs-6">
          <%= link_to image_tag('https://s3.amazonaws.com/swim-show/Website+Images/mbvca-logo-white.svg'), 'http://miamibeach100.com/', target: '_blank', class: 'img-responsive' %>
        </div>
      </div>
    </div> -->
  </div>
</section>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#swimvid').bind('click', function(event) {
      // stops default click behavior
      event.preventDefault();
      $.iLightBox(
        [
          {
            url: "https://s3.amazonaws.com/swim-show/Swim+Edit+2015.mp4",
            type: 'video',
            options: {
              width: 640,
              height: 460,
              flashvars: {
                file: 'video',
                autostart: true,
              }
            }
          },
        ],
        {skin: 'metro-black',
          overlay: {
            opacity: 0.7
          },
        }
      );
    });
  });
</script>


<section class="dates-btm" id="btm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Future Dates</h1>
        <p>(To Be Announced)</p>
      </div>
    </div>
  </div>
</section>
