<section class="showdates-head" role="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-6">
          <div class="top">
            <h1>Show Dates</h1>
            <p>Save these dates for spectacular swimwear</p>
            <p class="como">July 18 - 21</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div> -->
  </div>	<!-- end container -->
</section>

<section class="dates" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <h2>SwimShow</h2>
          <h3>July 18-21, 2015</h3>
          <p>Swim, run, fly or cruise your way to the 33rd annual SwimShow, sponsored by the Swimwear Association of Florida</p>
          <p><strong>Show Hours:<br>9am to 6pm: Saturday, Sunday, Monday<br>9am to 5pm: Tuesday</strong></p>
          <p>Check out the latest collections from around the globe in swimwear, resortwear, accessories, lifestyle and active… over four days of dazzling celebrations and inspirations. Be among the first to see and share the latest in designs, trends, colors and brands!</p>
        </div>
        <div class="col-sm-6">
          <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/headers/miami-beach.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row scroll-down">

      <a href="#swim" class="scroll-anchor"><p>scroll down</p>
      <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
  </div>
</section>

<section class="section-counter" id="swim">
  <div class="ce-countdown ce-countdown--theme-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Get Ready for July 18 - 21</h2>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-3"><span class="ce-days"></span><br><h6 class="ce-days-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-hours"></span><br><h6 class="ce-hours-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-minutes"></span><br><h6 class="ce-minutes-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-seconds"></span><br><h6 class="ce-seconds-label sub-info"></h6></div>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="top-headline">
            <h3><em>...enjoy the <strong>SWIM!</strong></em></h3>
          </div> <!-- end headline -->
        </div> <!-- end col-sm-8 -->
      </div>
    </div>
  </div>
  <div class="row scroll-down">
      <a href="#btm" class="scroll-anchor"><p>scroll down</p>
      <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
  </div>
</section>

<section class="dates-btm" id="btm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Future Dates</h1>
        <p>(To Be Announced)</p>
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
    $('.ce-countdown').countEverest({
      //Set your target date here!
      day: 18,
                month: 7,
      year: 2015,
      pluralLabels: true
    });
  });
</script>
