<section class="special-head">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 clearfix">
        <div class="top fixed-heading">
          <h1>Special Events</h1>
        </div>
      </div>
    </div>
    <!-- <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div> -->
  </div>	<!-- end container -->
</section>

<section class="special-events" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h1>Breakfast Bar</h1>
              <p>Saturday - Tuesday<br>9:00 - 10:30am Daily</p>
              <br>
              <a href="#" id="breakfast" class="btn btn-member">View 2014 Images</a>
              <br>
          </div>
          <div class="col-xs-12 col-sm-6">
          </div>
          <div class="col-xs-12 col-sm-6">
              <h1>Trend Seminar</h1>
              <p>Saturday 12:30pm - 1:30pm</p>
              <br>
              <a href="#" id="trend"class="btn btn-member">View 2014 Images</a>
              <br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h1>Swim Lounge</h1>
              <p>Saturday & Monday Evenings<br>6:00 - 7:30pm</p>
              <br>
              <a href="#" id ="lounge" class="btn btn-member">View 2014 Images</a>
              <br>
          </div>
          <div class="col-xs-12 col-sm-6">
              <h1>Fashion Show & After Party</h1>
              <p>Location TBA add “New & Improved”</p>
              <br>
              <a href="#" id="swimimg" class="btn btn-member top-link">View 2014 Images</a>
              <a href="#" id="swimvid" class="btn btn-member">View 2014 Video</a>
              <br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h1>Tech Lounge</h1>
              <p>Coming Soon</p>
          </div>
          <div class="col-xs-12 col-sm-6">
              <h1>Art Entertainment</h1>
              <p>Coming Soon</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h1>High Tea</h1>
            <p>Saturday - Tuesday<br>3:30pm - 4:30pm Daily</p>
            <br>
            <!-- <a href="#" id="high-tea" class="btn btn-member">View 2014 Images</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script charset="utf-8">
jQuery(document).ready(function($) {
  $('#swimvid').bind('click', function(event) {
    // stops default click behavior
    event.preventDefault();
    $.iLightBox(
      [
        {
          url: "https://s3.amazonaws.com/swim-show/special-events/fashion-show/Swim+2014+Edit-ITS_720.mp4",
          type: 'video',
          options: {
            width: 640,
            height: 460,
            flashvars: {
              file: 'video',
              autostart: true,
            }
          }
        },
      ],
      {skin: 'metro-black',
        overlay: {
          opacity: 0.7
        },



      }
    );
  });
});
jQuery(document).ready(function($) {
  $('#swimimg').bind('click', function(event) {
    // stops default click behavior
    event.preventDefault();
    $.iLightBox(
      [
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6102.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6110.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6117.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6155.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6237.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6283.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6372.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6489.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6661.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/IMG_6921.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Caffe.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Entreaguas.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Helen+Kaminski.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Jets+White+Label.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/La+Blanca.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Lenny+Niemeyer.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Maaji.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Manglar.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Milly+Cabana.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Montce.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/OndadeMar.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Phax.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/fashion-show/Sinesia+Karol.JPG'}
      ],
      {skin: 'metro-black',
        overlay: {
          opacity: 0.7
        }
      }
    );
  });
});
jQuery(document).ready(function($) {
  $('#lounge').bind('click', function(event) {
    // stops default click behavior
    event.preventDefault();
    $.iLightBox(
      [
        {url: 'https://s3.amazonaws.com/swim-show/special-events/swim-lounge/IMG_3534.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/swim-lounge/IMG_3632.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/swim-lounge/IMG_3639.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/swim-lounge/IMG_4574.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/swim-lounge/IMG_4576.JPG'}
      ],
      {skin: 'metro-black',
        overlay: {
          opacity: 0.7
        }
      }
    );
  });
});
jQuery(document).ready(function($) {
  $('#trend').bind('click', function(event) {
    // stops default click behavior
    event.preventDefault();
    $.iLightBox(
      [
        {url: 'https://s3.amazonaws.com/swim-show/special-events/trend-seminars/IMG_2201.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/trend-seminars/IMG_2214.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/trend-seminars/IMG_2225.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/trend-seminars/IMG_2250.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/trend-seminars/IMG_2261.JPG'}
      ],
      {skin: 'metro-black',
        overlay: {
          opacity: 0.7
        }
      }
    );
  });
});
jQuery(document).ready(function($) {
  $('#breakfast').bind('click', function(event) {
    // stops default click behavior
    event.preventDefault();
    $.iLightBox(
      [
        {url: 'https://s3.amazonaws.com/swim-show/special-events/breakfast-bar/IMG_1769.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/breakfast-bar/IMG_1676.JPG'},
        {url: 'https://s3.amazonaws.com/swim-show/special-events/breakfast-bar/IMG_1577.JPG'}
      ],
      {skin: 'metro-black',
        overlay: {
          opacity: 0.7
        }
      }
    );
  });
});
// jQuery(document).ready(function($) {
//   $('#high-tea').bind('click', function(event) {
//     // stops default click behavior
//     event.preventDefault();
//     $.iLightBox(
//       [
//         {url: 'https://s3.amazonaws.com/swim-show/special-events/high-tea/WRE_2160.jpg'},
//         {url: 'https://s3.amazonaws.com/swim-show/special-events/high-tea/WRE_2175.jpg'},
//         {url: 'https://s3.amazonaws.com/swim-show/special-events/high-tea/WRE_2195.jpg'},
//         {url: 'https://s3.amazonaws.com/swim-show/special-events/high-tea/WRE_922.jpg'}
//       ],
//       {skin: 'metro-black',
//         overlay: {
//           opacity: 0.7
//         }
//       }
//     );
//   });
// });

</script>
