<section class="thanks">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="top">
          <h1>WE HAVE RECEIVED YOUR MESSAGE</h1>
          <p>A REPRESENTATIVE WILL CONTACT YOU SHORTLY</p>
        </div>
      </div>
    </div>
  </div>
</section>
