<section class="vgallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @vendor.each do |v| %>
          <div class="col-xs-12 col-sm-15">
            <a href="#" id="<%= v.id %>"><%= image_tag v.logo.url(:thumb), class: 'img-responsive' %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
<% @vendor.each do |v| %>
jQuery(document).ready(function($) {
  $('#<%= v.id %>').bind('click', function(event) {
    // stops default click behavior
    event.preventDefault();
    $.iLightBox(
      [
        <% v.pictures.each do |img| %>
        {
          url: "<%= img.image.url(:retina) %>",
          type: 'image'
        },
        <% end %>
      ],
      {
        skin: 'metro-black',
        startFrom: 0,
        overlay: {
          opacity: 1
        }
      }
    );
  });
});
<% end %>
</script>
