<section class="west-coast" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-6 clearfix">
      <h1>West Coast Regional Tradeshow</h1>
      <br>
      <p>The Swimwear Association of Florida is continuing with its Regional West Coast Tradeshow<br>to make it easier and more convenient for local Florida retailers.</p>
      <br>
      <h4>August 12-14, 2015<br>The Bradenton Area Convention Center<br>Palmetto, Florida</h4>
      <br>
      <p>Complimentary light Continental breakfast and lunch will be served daily.<br>Hotel information is available through the SAF office.</p>
      <br>
      <li><%= link_to 'Current Line List', current_lines_path, class: 'btn btn-member' %></li>
    </div>
  </div>
  <div class="delimiter">

  </div>
</section>
