<h1>Vendor Registration Form:</h1>
<br>
<strong>First Name:</strong> <% @vendor.first_name %>
<strong>Last Name:</strong> <% @vendor.last_name %>
<strong>Company:</strong> <% @vendor.company %>
<strong>Title:</strong> <% @vendor.title %>
<strong>Address Line 1:</strong> <% @vendor.address_1 %>
<strong>Address Line 2:</strong> <% @vendor.address_2 %>
<strong>City:</strong> <% @vendor.city %>
<strong>State:</strong> <% @vendor.state %>
<strong>Province:</strong> <% @vendor.province %>
<strong>Postal Code:</strong> <% @vendor.postal_code %>
<strong>Country:</strong> <% @vendor.country %>
<strong>Email:</strong> <% @vendor.email %>
<strong>Opt out of Email:</strong> <% @vendor.opt_out_email %>
<strong>Website:</strong> <% @vendor.website %>
<strong>Phone:</strong> <% @vendor.phone %>
<strong>Extension:</strong> <% @vendor.extension %>
<strong>Other Phone:</strong> <% @vendor.phone_2 %>
<strong>Fax:</strong> <% @vendor.fax %>
<strong>Opt out of Phone:</strong> <% @vendor.opt_out_phone %>
<strong>Type of Store:</strong> <% @vendor.type_of_store %>
<strong>Status:</strong> <% @vendor.status %>
<strong>Number of Stores:</strong> <% @vendor.number_of_stores %>
<strong>Have you Attended SwimShow:</strong> <% @vendor.attended_swimshow %>
<strong>Attened other Tradeshows:</strong> <% @vendor.attended_other_tradeshows %>
<strong>Other Tradeshow Name:</strong> <% @vendor.other_tradeshow_name %>
<strong>Wants the show directory to be sent via mail:</strong> <% @vendor.mail_show_directory %>
<strong>Created at:</strong> <% @vendor.created_at %>
