<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left">© 2015 All Rights Reserved &nbsp;&nbsp;|&nbsp;&nbsp; Designed with &hearts; in miami by <a href="http://stiltmedia.com" target="_blank">stiltmedia</a></p>
        <p class="pull-right">
          <a href="http://www.miamibeachvca.com/" target="_blank"><%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/mbvca-logo-white.svg', style: 'width:50px;' %></a>
          <span class="social"><a href="https://www.facebook.com/pages/Swimwear-Association-of-Florida/286072137344" target="_blank"><i class="fa fa-facebook"></i></a></span>
          <span class="social"><a href="https://twitter.com/SAFSwimShow" target="_blank"><i class="fa fa-twitter"></i></a></span>
          <span class="social-last"><a href="https://instagram.com/safswimshow/" target="_blank"><i class="fa fa-instagram"></i></a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
