<div class="language">
  <select class="cs-select cs-skin-elastic">
    <option value="" disabled selected>Language</option>
    <option>Français</option>
    <option>Italiano</option>
    <option>Español</option>
    <option>Português</option>
  </select>
</div>
